body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.money img {
    height: 100px;
    float: left;
}

.make-money {
    display: block;
    height: 100px;
}

#nav {
    border-bottom: 1px solid darkgray;
    padding: 20px;
    background-color: #ededed;
}
#nav button {
    background-color: whitesmoke;
}
.bank button {
    background-color: greenyellow;
    margin-top: 10px;
}