<h2>Constructors</h2>
<table class="table table-hover">
  <thead>
  <td>Name</td>
  <td>Nationalität</td>
  <td>Wikipedia</td>
  </thead>
  {{#each Constructors}}
  <tr>
    <td><a href="/constructors/{{this.constructorId}}">{{this.name}}</a></td>
    <td>{{this.nationality}}</td>
    <td><a href="{{this.url}}">Link</a></td>
  </tr>
  {{/each}}
</table>
