<h1>{{constructor.name}}</h1>
<a href="{{constructor.url}}">Wikipedia Link</a>

<h3>Drivers</h3>

<table class="table table-hover">
  {{> driverTableHeadPartial }}
  {{#each drivers}}
    {{> driverPartial }}
  {{/each}}
</table>

